<div class="ui-g" [style]="{margin: '50px'}">
    <p-toast></p-toast>
    <p-confirmDialog header="Confirmación" acceptLabel="Si" rejectLabel="No"  icon="pi pi-exclamation-triangle"></p-confirmDialog>
    <p-panel>
        <p-header>
            {{title}}
        </p-header>
        <div style ="margin-bottom: 20px;">
            <p-menubar [model]="items"></p-menubar>
        </div>
        <p-table [value]="personas" [columns]="cols" [paginator]="true" [rows]="10" [responsive]="true" selectionMode="single" [(selection)]="selectedPersona" dataKey="id">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns" [pSortableColumn]="col.field">
                        {{col.header}}
                        <p-sortIcon [field]="col.field" ariaLabel="Activate to sort" ariaLabelDesc="Activate to sort in descending order" ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-persona let-columns="columns">
                <tr [pSelectableRow]="persona">
                    <td *ngFor="let col of columns">
                        {{persona[col.field]}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
    <p-dialog header="Persona"  [responsive]="true" [(visible)]="displayPersonaSaveDialog">
        <div class="ui-g ui-fluid">
            <div class="ui-g-12" [style]="{height: '400px'}">
                <div class="ui-g-4">
                    <label for="persona.nombres">Nombres</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="nombres" [(ngModel)]="persona.nombres" />
                </div>
                <div class="ui-g-4">
                    <label for="persona.apellidos">Apellidos</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="apellidos" [(ngModel)]="persona.apellidos" />
                </div>
                <div class="ui-g-4">
                    <label for="persona.tipoDocumento">Tipo de documento</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="tiposDocumento" [(ngModel)]="persona.tipoDocumento" [filter]="true" 
                                (ngModelChange)="onSelectTipoDocumento($event)" placeholder="Select"></p-dropdown>
                </div>
                <div class="ui-g-4">
                    <label for="persona.documento">Documento</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="documento" [(ngModel)]="persona.documento" />
                </div>
                <div class="ui-g-4">
                    <label for="persona.genero">Genero</label>
                </div>
                <div class="ui-g-8">
                    <input pInputText id="genero" [(ngModel)]="persona.genero" />
                </div>
                <div class="ui-g-4">
                    <label for="persona.edad">Edad</label>
                </div>
                <div class="ui-g-8">
                    <p-inputNumber id="edad" [(ngModel)]="persona.edad"></p-inputNumber>
                </div>
                <div class="ui-g-4">
                    <label for="persona.pais">Pais</label>
                </div>
                <div class="ui-g-8">
                    <p-dropdown [options]="paises" [(ngModel)]="persona.pais" [filter]="true" 
                                (ngModelChange)="onSelectPais($event)" placeholder="Select"></p-dropdown>
                </div>
            </div>
        </div>
        <p-footer>
            <div class="ui-dialog-buttonpane ui-helper-clearfix">
                <button type="button" pButton icon="pi pi-check" (click)="save()" label="Guardar"></button>
            </div>
        </p-footer>
    </p-dialog>
</div>